// Creating Style Overview

    /**
    * Background Colors
    *
    **/

    // Primary
    $primary-bg-light: #ffffff;
    $primary-bg-dark: #020405;

    // Secondary
    $secondary-bg-darker: #070C0F;
    $secondary-bg-blue: #081B27;
    $secondary-bg-blue-dark: #071822CC;
    $secondary-bg-blue-light: #374550;
    $secondary-bg-yellow: #F1B722;


    /**
    * Text Colors
    *
    **/
    $primary-text-color: #FFFFFF;
    $primary-text-darker: #000000;
    $primary-text-dark: #1A1A1A;
    $secondary-text-dark: #333333;
    $primary-text-light: #FFFFFF;
    $secondary-text-color: #CAD3DA;
    $secondary-text-yellow: #F1B722;
    $secondary-text-blue: #4A80A8;
    $secondary-text-blue-dark: #3D6888;
    $secondary-text-blue-light: #8EA9BD;
    $tertiary-text-color: #74A8CF;
    $tertiary-text-blue-dark: #3B4B57;
    $tertiary-text-gray-light: #8F9DA7;
    $tertiary-text-gray: #899EAD;

