// Creating Style Overview

/**
    * Background Colors
    *
    **/

    // Primary
    $primary-bg-light: #ffffff;
    $primary-bg-dark: #020405;

    // Secondary
    $secondary-bg-darker: #070C0F;
    $secondary-bg-blue: #081B27;
    $secondary-bg-blue-dark: #071822CC;
    $secondary-bg-blue-light: #374550;
    $secondary-bg-yellow: #F1B722;
