.movie-meta-grid {
    display: grid;
    grid-gap: 2rem;
    margin: 2rem 0;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    .movie-item-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
        align-items: start;
        min-height: 300px;

        @media (max-width: 1196px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 960px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 668px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 448px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .pagination {
        display: flex;
        align-items: start;
        justify-content: center;
        button {
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            background-color: #f1b722;
            color: #000;
            border: 0;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #f1b722;
                color: #fff;
            }
        }
    }
}