.masthead-wrapper {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 0;

        @media (max-width: 576px) {
            font-size: 3rem;
        }

        @media (max-width: 448px) {
            font-size: 2rem;
            line-height: 1;
        }
    }
    p {
        font-size: 1.2rem;
        font-weight: 400;

        @media (max-width: 448px) {
            font-size: 1rem;
            text-align: center;
        }
    }
    .mini-search {
        width: 100%;
        max-width: 600px;

        input {
            width: 100%;
            padding: 1rem;
            border-radius: 0.5rem;
            outline: none;
            outline: none;
            font-size: 1rem;
            border: 0;
            font-weight: 400;
            color: #000;

            &:focus {
                box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
                
            }
            
        }
    }
}

.genre-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    span {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #f1b722;
        color: #000;
        margin: 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: #f1b722;
            color: #fff;
        }
    }
}

.movie-meta-grid {
    display: grid;
    grid-gap: 2rem;
    margin: 2rem 0;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    .movie-item-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;

        @media (max-width: 1196px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 960px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 668px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 448px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .pagination {
        display: flex;
        align-items: start;
        justify-content: center;
        button {
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            background-color: #f1b722;
            color: #000;
            border: 0;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #f1b722;
                color: #fff;
            }
        }
    }
}